body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0;
}

.hidden {
	display: none;
}

img {
	border: none;
}

/* container for everything */
#main {
	padding: 0;
}

/* head */
#head {
	height: 80px;
}

/* sitetitle */
#site-title {
	margin-top: 30px;
	margin-bottom: 0px;
	font-size: 400%;
	font-family: Georgia;
	text-align: center;
}

#site-title a {
	text-decoration: none;
	color: silver;
}

/*search box*/
#search-box {
	border: solid 1px #aaa;
	float: right;
	margin-top: 2px;
	margin-right: 2px;
	height: 21px;
	background-color: white;
	top: 123px;
}

#search-box form {
	margin: 0px;
}

#search-button {
	background: url("images/find.png") no-repeat center center;
	border: none;
	height: 18px;
	width: 20px;
	margin: 0;
	padding: 0;
	text-indent: 100px;
	display: block;
	float: right;
	top: 2px;
}

#search-textbox {
	border: solid 1px white;
	border-right: solid 1px #ccc;
	height: 16px;
}
/* search results */
div.search-result {
	margin-bottom: 10px;
}

div.search-result div.breadcrumbs {
	margin-left: 0px;
}

div.search-result div.result-body {
	margin-left: 0px;
}

/* menu */
#grey-line {
	width : 100%;
	background-color: #F5F5F5;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
}
#menu-bar {
	background: #F5F5F5;
	height: 27px;
	width: 800px;
	margin: 0 auto;
}
#menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu > li {
	/*background: #F5F5F5;*/
	/*border-bottom: 1px solid #aaa;*/
}

#menu li {
	position: relative; 
	float: left;
	/*padding: 5px;*/
}

#menu li.selected a {
	background: #CDCDCD;
}

#menu li a {
	/*width: 60px;*/
	/*_width: 127px;*/
	background: #f1f1f1;
	padding: 5px;
	display: block;
	_float: left;
	font-weight: normal;
	text-decoration: none;
	color: black;
}

#menu li a:hover {
	background: #CDCDCD;
}

#menu ul {
	position: absolute;
	top: 27px;
	left: 0px;
	margin: 0; 
	padding: 0; 
	list-style: none;
	width: 166px;
	border: 1px solid #AAA;
	background: #f1f1f1;
	-webkit-box-shadow: 1px 1px 5px #AAA;
	-moz-box-shadow: 1px 1px 5px #AAA;
	box-shadow: 1px 1px 5px #AAA;
}

#menu ul li { 
	float: none;
	padding: 0;
}

#menu ul li a {
	width: 160px;
	_width: 127px;
	background: #f1f1f1;
	padding: 3px;
	display: block;
	_float: left;
	font-weight: normal;
}

#menu ul li a:hover {
	background: #CDCDCD;
}

#menu ul ul { 
	left: 166px;
	_left: 0;
	top: 0;
}

/* breadcrumbs */

#breadcrumbs, .breadcrumbs {
	font-size: 8pt;
	color: #888;
}

#breadcrumbs a, .breadcrumbs a {
	color: #888;
}

/* sidebar */

#sidebar {
	float: left;
	width: 150px;
	padding-top: 10px;
}

#sidebar h4 {
	margin: 0 0 0 0;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	padding: 5px;
	background-color: silver;
	border-bottom: solid 1px black;
}

#sidebar ul {
	margin: 0 0 0 0;
	padding-left: 0px;
	list-style: none;
}

#sidebar ul ul {
	padding-left: 0px;
}

#sidebar-menu a {

}

#sidebar-menu ul a {
	padding-left: 20px;
}

#sidebar-menu ul ul a {
	padding-left: 40px;
}

#sidebar-menu ul ul ul a {
	padding-left: 60px;
}

#sidebar-menu li {
	background-color: silver;
}

#sidebar-menu a {
	display: block;
	padding: 3px;
}

#sidebar-menu li.selected {
	background-color: gray;
}

/* body */

#actual-text {
	margin-left: 160px;
	padding-top: 10px;
}

#body {
	width: 800px;
	min-height: 400px;
	margin: 0 auto;
}

h1{
	margin-top: 10px;
	margin-bottom: 25px;
	font-size: 200%;
	font-family: Georgia;
}

h2{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 140%;
	font-family: Georgia;
}

h3{
	margin-top: 5px;
	margin-bottom: 5px;
	color: #1d417c;
	font-size: 120%;
	font-family: Georgia;
}

p{
}

/* footer */

#foot {
	padding: 5px;
	font-size: 9pt;
	border-top: 1px solid #aaa;
	text-align: right;
	width: 800px;
	margin: 0 auto;
}


